$heading-font: 'Big Shoulders Display', cursive;
$hero-font:'Montez', cursive;
$content-font:'Montserrat', sans-serif;
$primary-color: #E5E5E5;
$secondary-color: #73DF78;
$tertiary-color: #0B6CFE;

